@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #030203;
  color: #fff;
  font-family: 'Nunito', sans-serif;
}

main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas: 'display display display display'
                       'clear clear delete divide'
                       '7 8 9 multiply'
                       '4 5 6 subtract'
                       '1 2 3 add'
                       'zero zero . equals';
  background-color: #211f22;
  padding: 1rem;
  border-radius: 16px;
}

.current-operand {
  text-align: end;
  font-size: 2.4rem;
  font-weight: 300;
  margin: 0;
}

button {
  display: flex;
  height: 60px;
  cursor: pointer;
  min-width: 60px;
  margin: .4rem;
  padding: 16px;
  border: none;
  border-radius: 30px;
  background-color: #453f48;
  color: #fff;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-family: inherit;
}

button:hover {
  background-color: #574d5c;
}

#decimal-btn.selected {
  background-color: #2a272b;
  color: #828282;
  pointer-events: none;
}

.operator-btn {
  background-color: #8a2ac6;
  font-size: 2rem;
}

.operator-btn:hover {
  background-color: #a543e2;
}

.operator-btn.selected {
  background-color: #ffffff;
  color: #8a2ac6;
}

.display-container {
  grid-area: display;
  display: flex;
  flex-direction: column;
  background-color: #2a272b;
  width: 100%;
  border-radius: 8px;
  align-items: flex-end;
  margin: 0 0 .8rem;
  justify-content: space-around;
  padding: 1rem;
  min-height: 120px;
}

.previous-operand {
  color: #aba0af;
  font-size: 1.4rem;
}

#clear-btn {
  grid-area: clear;
  font-size: 1.4rem;
}

#delete-btn {
  grid-area: delete;
  font-size: 1.4rem;
}

#zero-btn {
  grid-area: zero;
}


